.add-task-block {
    display: block;
    margin: 20px;
}

#task-input {
    width: 40%;
    margin: 0 10px;
    padding: 6px 10px;
}

#add-btn {
    width: 10%;
    margin: 0 10px;
    padding: 6px 0;
}

.task {
    display: block;
    margin: 4px 0;
    padding: 10px 20px;
    width: 54%;
    position: relative;
}

#task-input,
#add-btn,
.task {
    border: 2px solid #000;
}

#close {
    font-style: normal;
    display: inline-block;
    margin: -12px 0;
    font-size: 20px;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 1%;
}